:root {
    --primario: #9C27B0;
    --primarioOscuro: #89119D;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(233,287,2);
    --blanco: #FFF;
    --negro: #000;

    --funetePrincipal: 'Staatliches', cursive;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /** 1 rem = 10 px **/
}

*, *:before, *:after {
    box-sizing: inherit;
}

/** Globales **/
body {
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}
p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
h1, h2, h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--funetePrincipal);
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.4rem;
}

/** Header **/

.header {
    display: flex;
    justify-content: center;
}

.header__logo {
    margin: 3rem 0;
}

/** Footer **/
.footer {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__texto {
    text-align: center;
    font-family: var(--funetePrincipal);
    font-size: 2.2rem;
}

/** Navegacion **/
.navegacion {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navegacion__enlace {
    font-family: var(--funetePrincipal);
    color: var(--blanco);
    font-size: 3rem;
}

.navegacion__imagen{
    position: absolute;
    top: 10px;
    left: 1230px;
    width: 50px;
}

.navegacion__enlace--activo,
.navegacion__enlace:hover{
    color: var(--secundario);
}

/** Grid **/
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3,1fr);
    }
}

/** Productos **/
.producto {
    background-color: var(--primarioOscuro);
    padding: 1rem;
}

.producto__imagen {
    width: 100%;
}

.producto__informacion {
    
}

.producto__nombre {
    font-size: 4rem;
}

.producto__precio {
    font-size: 2.8rem;
    color: var(--secundario);
}

.producto__nombre,
.producto__precio {
    font-family: var(--funetePrincipal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}

/** Graficos **/
.grafico {
    min-height: 30rem;
}

/** Nostros **/
.nosotros {
    display: grid;
    grid-template-rows: repeat(2, auto);
}

@media (min-width: 768px) {
    .nosotros {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.nosotros__imagen {
    grid-row: 1 / 2;
    width: 100%;
}

@media (min-width: 768px) {
    .nosotros__imagen {
        grid-column: 2 / 3;
    }
}

/** Bloques **/
.bloques {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    .bloques {
        grid-template-columns: repeat(4, 1fr);
    }
}

.bloque {
    text-align: center;
}

.bloque__imagen {
    width: 100%;
}

@media (min-width: 768px) {
    .bloque__imagen {
        width: 95%;
    }
}

.bloque__titulo {
    margin: 0;
}

/**Pagina de creacion de cuenta e inicio de sesion**/
form{
    position: absolute;
    min-width: 280px;
    max-width: 25%;
    width: 25%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    box-shadow: 0 1rem 1rem rgb(0, 0, 0, 0.3);
    background-color: rgb(48, 99, 115); /**Cambio de color de fondo del box**/
    border-radius: 5px;
    color: #FFF;
}

h1{
    position: relative;
    font-size: 35px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 3px solid white;
    color: white;
}

input{
    display: block;
    width: 100%;
    height: 40px;
    padding: 5px 6px;
    margin-bottom: 15px;
    border: none;
    outline: none;
    border-radius: 1px;
}

button{
    display: block;
    margin: auto;
    width: 100%;
    height: 40px;
    background-color: #FFCE00;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    color: black;
    font-weight: bolder;
}

.link{
    
    text-align: center;
    margin-top: 15px;
    font-weight: bolder;
    
}

/**Administrador inicio**/
.UltimosRegistros{
    background-color: rgb(48, 99, 115);
    border: 2px solid #CCC;
    padding: 1em;
    margin: 1em 0 1em 4em;
    width: 300px;
    position: absolute;
    top: 250px;
    left: 250px;
}

.Ingresos{
    background-color: rgb(48, 99, 115);
    border: 2px solid #CCC;
    padding: 1em;
    margin: 1em 0 1em 4em;
    width: 300px;
    position: absolute;
    top: 250px;
    left: 590px;
}

.ProductosMas{
    background-color: rgb(48, 99, 115);
    border: 2px solid #CCC;
    padding: 1em;
    margin: 1em 0 1em 4em;
    width: 300px;
    position: absolute;
    top: 650px;
    left: 250px;
}

.ProductosMenos{
    background-color: rgb(48, 99, 115);
    border: 2px solid #CCC;
    padding: 1em;
    margin: 1em 0 1em 4em;
    width: 300px;
    position: absolute;
    top: 650px;
    left: 590px;
}