:root {
    --primario: #9C27B0;
    --primarioOscuro: #89119D;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(255, 196, 0);
    --blanco: #FFF;
    --negro: #000;

    --fuentePrincipal: 'Staatliches', cursive;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /** 1 rem = 10 px **/
}

*, *:before, *:after {
    box-sizing: inherit;
}

/** Globales **/
body {
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}
p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
h1, h2, h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.4rem;
}

/** Header **/
.header {
    display: flex;
    justify-content: center;
}

.header__logo {
    margin: 3rem 0;
}

.header__login {
    margin: 3rem 2rem 0 0;
    position: absolute;
    top: 0;
    right: 0;
    max-width: 4.8rem;
    height: auto;
}

/** Footer **/
.footer {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__texto {
    text-align: center;
    font-family: var(--fuentePrincipal);
    font-size: 2.2rem;
}

/** Navegacion **/
.navegacion {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navegacion__enlace {
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 3rem;
}

.navegacion__enlace--activo,
.navegacion__enlace:hover{
    color: var(--secundario);
}

/** Grid **/
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3,1fr);
    }
}

/** Productos **/
.producto {
    background-color: var(--primarioOscuro);
    padding: 1rem;
}

.producto__nombre {
    font-size: 4rem;
}

.producto__precio {
    font-size: 2.8rem;
    color: var(--secundario);
}

.producto__nombre,
.producto__precio {
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}

/** Producto **/
.imagendelproducto{
    width: 320px;
    margin-left: 50px;
}

.descripcionproducto{
    position: absolute;
    margin-left : 420px;
    top: 360px;
}

/** Graficos **/
.grafico {
    min-height: 30rem;
}

/** Nosotros **/
.nosotros {
    display: grid;
    grid-template-rows: repeat(2, auto);
}

@media (min-width: 768px) {
    .nosotros {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.nosotros__imagen {
    grid-row: 1 / 2;
}

@media (min-width: 768px) {
    .nosotros__imagen {
        grid-column: 2 / 3;
    }
}

/** Bloques **/
.bloques {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    .bloques {
        grid-template-columns: repeat(3, 1fr);
    }
}

.bloque {
    text-align: center;
}

@media (min-width: 768px) {
    .bloque__imagen {
        width: 95%;
    }
}

.bloque__titulo {
    margin: 0;
}

/** Página del producto **/
.camisa {
    padding: 2rem; /** Para que todo el contenido se despegue un poco en la vista móvil **/
}
 
@media (min-width: 768px) {
    .camisa {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
     }
}
 
.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
 
.formulario__campo {
    border: 1rem solid var(--primarioOscuro);
    background-color: transparent;
    color: var(--blanco);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    appearance: none;
    min-width: 50%; /** Aquí sucede la magia de los input **/
}
 
.formulario__submit {
    background-color: var(--secundario);
    border: none;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    padding: 2rem;
    transition: background-color .5s ease;
    grid-column: 1 / 3;
}
 
.formulario__submit:hover {
    cursor: pointer;
    background-color: var(--secundarioOscuro);
}

/** Pagina Inicio de Sesion **/
.cuenta {
    padding: 2rem;
}

.cuenta p {
    margin: 0;
}

/**Administrador inicio**/
.cuadros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    text-align: center;
    
  }
  
  @media (min-width: 768px) {
    .cuadros {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  .cuadro {
    border: 2px solid black;
    padding: 1rem;
  }

  /**Administrador - productos **/
  .boton-añadirproducto{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    gap: 8rem;
    text-align: center;
    width: 12%;
    margin-left: 85%;
    display: grid;
    justify-content: center;
  }
  
  
  /**Administrador cuando le picas al boton añadir producto**/
  .admin-añadir-producto {
    display: grid;
    grid-template-columns: repeat(-1, 1fr);
    gap: 4rem;
    text-align: center;
}

.imagen-añadirproducto{
    width: 12%;
    margin-left: 45%;
    display: grid;
    justify-content: center;
}

/*Administrador - Tabla de productos */
table {
    border-collapse: collapse;
    width: 40%;
    margin-left: 30%;
    
  }

  th{
    color: black;
    background-color: #f2f2f294;
    border: 4px solid black;
    padding: 4px;
    
  }

  td{
    border: 4px solid black;
    color: black;
    padding: 1.5%;
    background-color: white;
  }

  .tabladeproductos{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
    text-align: center;
  }

  /*Tabla de ventas*/
  .tabladeventas{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
    text-align: center;
  }

  /**Tabla de usuarios**/
  .tabladeusuarios{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
    text-align: center;
  }